html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: Sans-Serif;
	font-size: small;
	margin-left: 1%;
	margin-right: 1%;
	overflow: auto;
	background-color: #FFFFFF;
	color: #000000;
}
#accordion {
	font-size: 14px;
}
.ui-accordion-header {
    background: none;
    background-color: #ececec;
    border: none;
    border-radius: 10px;	
}
.ui-accordion-content {
    background: white;
    background-image: none;
    border: none;
    border-radius: 10px;
}
.ui-state-active{
	color: #4849FF;
}
.ui-state-active .ui-icon {
	background-image: url("lib/images/ui-icons_555555_256x240.png");
}
.ui-widget-content a {
	text-decoration: none;
	color: blue;
}
#helpTitle {
	color: green;
	font-size:x-large;	
}
#canary {
	float: left;
}
