@-webkit-keyframes composeInserted {  
    from { clip: rect(1px, auto, auto, auto); }
      to { clip: rect(0px, auto, auto, auto); }
    }

.n1tfz, td[class="gH acX"]{			<!--this is for Gmail-->
      -webkit-animation-duration: 0.001s;
      -webkit-animation-name: composeInserted;
    }
	
.bottomToolbar, .thread-info, .msg-date{  <!--this is for Yahoo-->
      -webkit-animation-duration: 0.001s;
      -webkit-animation-name: composeInserted;
    }

._z_g1, ._rp_u1, ._mcp_76, ._mcp_73, ._mcp_h6, ._rp_81, ._rp_71, ._mcp_25, ._mcp_D7{	<!--this is for Outlook-->
      -webkit-animation-duration: 0.001s;
      -webkit-animation-name: composeInserted;
    }

.ui-widget-header{
    background: none;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
}

.ui-dialog{
    /* The background color of the dialog */
    background: white;
    background-image: none;
    box-shadow: 10px 10px 5px #999;
    font-size: small;
    border-radius: 10px;
}

.ui-widget-overlay.custom-overlay{
    background-color: black;
    background-image: none;
    opacity: 0.7;
}

.ui-icon,.ui-widget-content .ui-icon{
	background-image:url("chrome-extension://__MSG_@@extension_id__/lib/images/ui-icons_222222_256x240.png")
}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{
	background-image:url("chrome-extension://__MSG_@@extension_id__/lib/images/ui-bg_glass_100_f6f6f6_1x400.png")
}
.ui-widget-overlay{
	background-image:url("chrome-extension://__MSG_@@extension_id__/lib/images/ui-bg_diagonals-thick_20_666666_40x40.png")
}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{
	background-image:url("chrome-extension://__MSG_@@extension_id__/lib/images/ui-icons_ef8c08_256x240.png")
}
.ui-state-active .ui-icon{
	background-image:url("chrome-extension://__MSG_@@extension_id__/lib/images/ui-icons_ef8c08_256x240.png")
}

a:hover {
  color: red;
  position: relative;
}

a[data-title]:hover:after {
  content: attr(data-title);
  padding: 4px 8px;
  font-size: small;
  color: white;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
  background-color: black;
}

a[data-title2]:hover:after {
  content: attr(data-title2);
  padding: 4px 8px;
  font-size: small;
  color: white;
  position: absolute;
  left: 1;
  top: -10%;
  z-index: 1000;
  background-color: black;
}

select {
	-webkit-appearance: button;
	-webkit-user-select: none;
	font-size: medium;
	margin: 0;
	border: 1px solid #dedede;
	color: #666666;
}
img.intLink {
	border: 0;
}
#toolBar1 {
	padding-top: 1px;
	padding-left: 2px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #e6e6e6;
}
#toolBar1 select {
	font-size: 10px;
	width: 80px;
	padding: 2px;
	border-radius: 8px;
}
.intLink:hover {
		text-decoration: none;
		cursor: pointer;
		background: #d4d4d4;	
}
	.cssbutton {
		-webkit-border-radius: 10px;
  		border-radius: 10px;
  		font-family: Arial;

  		padding: 8px;
  		text-decoration: none;
		border:0px;
		margin-right: -2px;
		color: #666666;
  		background: #e6e6e6;
	}
	.cssbutton:hover {
		text-decoration: none;
		cursor: pointer;
		background: #d4d4d4;
	}

	.cssbox {
		-webkit-border-radius: 15px;
  		border-radius: 15px;
  		padding: 15px;
  		text-decoration: none;
		width: 100%;
		-webkit-appearance: none;
		box-sizing: border-box;
   	 	-webkit-box-sizing:border-box;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #000000;
		border:1px solid #dedede;
		overflow: auto;
	}